@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* CSS HEX */
  --light-cornflower-blue: #8ecae6ff;
  --blue-green: #219ebcff;
  --prussian-blue: #023047ff;
  --selective-yellow: #ffb703ff;
  --tangerine: #fb8500ff;
}

body{
  background: var(--light-cornflower-blue);
  font-family: 'Inter', sans-serif;
}